<script lang="ts">
	import type { Cat } from '../domain/Cat';
	import { onMount } from 'svelte';
	import client from '../infrastructure/api/Client';

	onMount(async () => {
		const { data } = await client.get<Cat[]>('search/?limit=10');
	});
</script>

<h1 class="text-3xl font-bold underline">Hello world!</h1>
